.App {
  text-align: center;
}

/* style for CRUD Operation */
h1 {
  color: #3e4148;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.user {
  font-style: italic;
  font-weight: lighter;
  color: white;
}
form {
  background-color: #53565d;
  padding: 1.5rem;
  color: white;
}

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}
.btnCrud {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 5rem;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #3e4148;
  color: white;
  background-color: #a9abae;
}

.btnCrud:hover {
  color: #53565d;
  background-color: #d4d5d6;
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  width: 20rem;
}
